.light-pillar-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.light-pillar-fallback {
    width: 100%;
    height: 100%;
    background: #000;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}